<div class='container-fluid footer text-light'>
  <div class='row'>
    <div class='container pt-4 pb-2'>
      <div class='row'>
        <div class='col-md-6 col-sm-12'>
          <h4>CONTACT</h4>
          <h4>REVIEW</h4>
          <h4>FAQ</h4>
        </div>
        <div class='col-md-5 col-sm-12'>
          <h5>Contact: silwalb4@gmail.com</h5>
        </div>
        <div class='col-12 text-center mt-3'>
          <p class='text-weigh-light m-0'>
            @2020 All right reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</div>