<nav class="navbar navbar-dark bg-black">
  <div class='container-fluid'>
    <span class="navbar-brand mb-0 h1">
      <a href="/"><img alt='logo' src="/mailet_logo_white.png" height="40" width="150"></a>
    </span>
  </div>
</nav>