<%= javascript_pack_tag 'index' %>
<div class="container posts">
  <div class="row">
    <div class="col-12">
      <h1>Top Posts</h1>
    </div>
    <div class="col-3">
      <div class="jumbotron jumbotron-fluid ">
        <div class="container">
          <a href="#"><h2>What is temporary disposable email address?</h2></a>
          <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <a href="#"><h2>What we offer here?</h2></a>
          <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <a href="#"><h2>Say ‘No’ to spam emails?</h2></a>
          <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <a href="#"><h2>How can an anonymous email protect you from phishing?</h2></a>
          <p>This is a modified jumbotron that occupies the entire  of its parent.</p>
        </div>
      </div>
    </div>
  </div>
</div>
