<div class="container-fluid p-0 app-body">
  <div id='main-app-body' class="'container-fluid p-0'"></div>

  <%= javascript_packs_with_chunks_tag 'index', 'components/emailContainer', 'components/messageContainer', 'components/customMailAddress', 'components/emailMessageCreator', 'components/message', 'components/summerNote', 'components/customIframe', 'data-turbolinks-track': 'reload' %>
</div>

