$primary:       #142850;
$secondary:     #27496d;
$success:       #00909e;
$info:          #505bda;
$warning:       #e25822;
$danger:        #b22222;
$light:         #dae1e7;
$dark: #0a0a49;

$custom-gray: #7b8186;
$light-black: #161f33;