// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './variables/_variables.scss';
@import "bootstrap/scss/bootstrap.scss";
@import "toastr/toastr.scss";
@import "./blog.scss";

body {
  min-height: 100vh;
}

#main-app-body {
  min-height: 80vh;
}

.app-body {
  background-color: #e2e0e0;
}
.email-container{
  background-color: $secondary;
}
.card{
  .card-header{
    background-color: $secondary;
  }
}
.mail-active{
  background-color: green;
  height: 3px;
  width: 3px;
  padding-right: 5px;
  margin-right: 5px;
}

.message-list {
  background-color: $light;
}

.toastr-success {
  background-color: $success;
}
.expire-counter{
  .text-muted{
    font-size: 13px;
  }
}

.footer{
  background-color: $light-black;
  color: $light;
}

.address-list{
  background-color: $light;
}
.temp-email-div{
  background-color: $light;
}
.expire-counter{
  .count-number{
    background-color: #7b8186;
  }
}

.btn-primary{
  color: $light;
}

input.form-control, textarea.form-control, .btn{
  box-shadow: none !important;
  &:focus{
    border-color: $secondary !important;
  }
}

.footer {
  p {
    font-size: 10px;
  }
  h5, h4 {
    font-size: 12px;
  }
}

.temp-email-div {
  height: 50px;
  .mail {
    display: flex;
    align-items: center;
  }
  button {
    margin-right: 5px;
    height: 90%
  }
}

.copy-clipboard{
  margin: 3px;
  svg{
    margin: 3px -1px;
  }
}

h1 {
  font-size: 1.5rem;
}

.note {
  font-size: 12px;
}

.mail-desc {
  font-size: 14px;
  line-height: 18px;
}

.bg-black {
  background-color: $light-black;
}

.custom-iframe {
  height: 400px;
  min-height: 200px;
  width: 100%;
}

.loading-row {
  h2 {
    font-size: 18px;
  }
}

.note-editing-area {
  border-top: 1px solid #cccccc;
}

.note-btn-primary {
  background-color: $primary;
}

.email-pdf-download {
  float: right;
  span {
    margin-right: 10px;
  }
  span:hover {
    color: $success;
    svg {
      fill: $success;
    }
  }
}

@media only screen and (max-width: 600px) {
  .action-pills {
    .col-sm-12 {
      text-align: center;
      margin: 5px 0;
    }
  }
  .message-container {
    padding: 0px;
  }
  .loading-row {
    margin: 0px !important;
    padding: 0px !important;
    .col-12 {
      margin: 20px 0px;
    }

    h2 {
      font-size: 15px;
    }
  }

  .custom-mail-address {
    h5 {
      margin-top: 10px;
      font-size: 15px;
    }

    span {
      font-size: 12px;
    }

    button {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px;
      font-size: 10px;
    }
  }
}
