// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './variables/_variables.scss';
@import "bootstrap/scss/bootstrap.scss";
@import "toastr/toastr.scss";
@import "@fortawesome/fontawesome-free/css/all.css";

body {
  min-height: 100vh;
}
.email-container{
  background-color: $secondary;
}
.card{
  .card-header{
    background-color: $secondary;
  }
}
.mail-active{
  background-color: green;
  height: 3px;
  width: 3px;
  padding-right: 5px;
  margin-right: 5px;
}

.message-list {
  background-color: $light;
}

.toastr-success {
  background-color: $success;
}
.expire-counter{
  .text-muted{
    font-size: 13px;
  }
}

.footer{
  background-color: $dark;
  color: $light;
}

.address-list{
  background-color: $light;
}
.temp-email-div{
  background-color: $light;
}
.expire-counter{
  .count-number{
    background-color: #7b8186;
  }
}

.btn-primary{
  color: $light;
}

input.form-control, textarea.form-control, .btn{
  box-shadow: none !important;
  &:focus{
    border-color: $secondary !important;
  }
}

.footer {
  p {
    font-size: 10px;
  }
  h5, h4 {
    font-size: 12px;
  }
}