@import './variables/_variables.scss';

#sidebar {
  .sidebar-sticky-top {
    position: sticky;
    top: 0;
    position: -webkit-sticky;
  }

  .nav-link:hover, .nav-link.active {
    background-color: $primary;
    color: white;
  }
}